@use 'variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variaveis.$fonte-familia-principal; 
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}