// Tipografia
$fonte-familia-principal: 'Roboto', sans-serif;

$tamanho-texto-grande: 2rem; 
$tamanho-texto-medio: 1.5rem; 
$tamanho-texto-base: 1rem; 
$tamanho-texto-pequeno: .5rem; 

// Cores
$cor-fundo-claro: #f5f6fa;
$cor-principal: #182C61; // Header
$cor-botao-sucesso: #44bd32; // botão
$cor-botao-hover: #d137ba; // botão
$cor-texto-claro: #FFF;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;