@use './config/reset';
@use './config/variaveis';
@use './config/mixin';
@use 'sass:math';

@function pixelParaRem($alvoEmPixel, $contextoEmPixel: 16px) {
    @return math.div($alvoEmPixel, $contextoEmPixel)+rem;
}

body {
    background-color: variaveis.$cor-fundo-claro;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$cor-principal;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        @include mixin.displayBetween;
        padding: variaveis.$tamanho-texto-base 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: variaveis.$tamanho-texto-medio;

        a {
            color: variaveis.$cor-texto-claro;
        }
    }
}

section {
    padding: pixelParaRem(56px, 16px) 0;
}

.products {
    @include mixin.displayGrid(3, 32.66%, 1%);
    row-gap: 4%;
    width: 100%;
    margin-top: pixelParaRem(40px, 16px);
}

.product-item img {
    width: 100%;
    border-radius: variaveis.$tamanho-texto-base;
}

.product-button {
    display: block;
    background-color: variaveis.$cor-botao-sucesso;
    color: variaveis.$cor-texto-claro;
    text-align: center;
    text-decoration: none;
    padding: variaveis.$tamanho-texto-pequeno 0;
    border-radius: variaveis.$tamanho-texto-pequeno;
    margin-top: variaveis.$tamanho-texto-pequeno;

    &:hover {
        background-color: variaveis.$cor-botao-hover;
    }
}

@media screen and (max-width: variaveis.$breakpoint-tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        @include mixin.displayGrid(2, 48.5%, 3%);
    }
}

@media screen and (max-width: variaveis.$breakpoint-mobile) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: variaveis.$tamanho-texto-grande;
    }
}